<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# split: 문자열을 특정 구분자로 나누어 리스트로 반환하는 메소드 -> 객체.split(구분자)

data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n") # \n이라는 구분자로 나누어 리스트 형태로 저장함

for line in lines:
  fields = line.split(",")
  print("Name:",fields[0],"Age:",fields[1],"Occupation:",fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [5]:
# join: 리스트의 각 요소를 문자열로 변환하고, 주어진 구분자로 결합하여 하나의 문자열로 반환하는 메소드

words=['Hello','world','this','is','a','test']
sentence = ' '.join(words) # 공백을 구분자로하여 words 리스트 내의 요소를 결합한다.
print(sentence)

Hello world this is a test

In [12]:
# Lab

a = "Geeks for Geeks"
b = data.split(" ") # 공백 구분자로 나누어 리스트 형태로 저장함
print(b)

c = '-'.join(b) # '-'를 구분자로하여 lines 리스트 내의 요소를 결합한다.
print(c)

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [22]:
# List comprehension: 리스트를 생성하는 간결하고 직관적인 표기법

squares = [x**2 for x in range(5) if x%2==0] # 0부터 4까지 짝수인 x를 제곱하라
print(squares) # [0,4,16]

[0, 4, 16]

In [24]:
# 1부터 20까지 3의 배수만 제곱한 리스트 만들기

a = [x**2 for x in range(1,21) if x%3==0] # 1부터 20까지 3의 배수인 x를 제곱하라
print(a)

[9, 36, 81, 144, 225, 324]

In [26]:
# 수를 제곱한 새로운 리스트를 만들기

Data = [1,2,3,4,5]
New_Data = [x**2 for x in Data]
print(New_Data)

[1, 4, 9, 16, 25]

In [36]:
# enumerate: 순회 가능한 객체를 인덱스와 함께 반환
# enumerate(iterable, start=0) -> iterable: 반복 가능한 객체 / start = 0: 인덱스를 시작할 값. 기본값은 0

fruits = ['apple','banana','cherry']
for index, fruit in enumerate(fruits,start=1):
  print(index, fruit)

1 apple
2 banana
3 cherry

In [47]:
# Lab

# enumerate를 사용한 코드
alphabet = ['a','b','c']
for index, alphabet in enumerate(alphabet, start=0):
  print(f"fruit {index} name is {alphabet}")

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [53]:
# range를 사용한 코드
alphabet = ['a','b','c']
for i in range(len(alphabet)):
  print(f"fruit {i} name is {alphabet[i]}")

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [52]:
# zip: 두 개 이상의 순회 가능한 객체를 병렬적으로 순회하면서 각 항목을 튜플로 묶어서 반환

names = ['Jonn','Jane','Doe']
ages = [25,30,35]

for name, age in zip(names,ages):
  print(f"{name} is {age} years old.")

Jonn is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [63]:
# Lab

# 1. Zip
name = ["M","N","S","A"]
roll_no = [4,1,3,2]
a = set(zip(name,roll_no))
print(a)

# 2. Zip & enumerate
names = ['M','R','C']
ages = [24,50,18]
for i in range(len(names)):
  print(f"{i} {names[i]} {ages[i]}")

{('N', 1), ('S', 3), ('A', 2), ('M', 4)}
0 M 24
1 R 50
2 C 18

In [64]:
# lamda & map
# lamda: 이름 없는 함수를 정의할 때 사용 / lambda arguments: expression

double = lambda x: x*2
print(double(5)) # 10

10

In [68]:
def add(x,y):
  return x+y
a, b = 50, 100
print(add(a,b))

add = lambda x,y: x+y
print(add(60,100))

150
160

In [69]:
# map: 함수와 순회 가능한 객체를 받아, 객체의 각 항목에 함수를 적용한 결과를 반환
# map(function, iterable1, iterabl2, ...) -> function: 함수 / iterable: 함수를 적용할 데이터 집합

numbers = [1,2,3,4]
squared = list(map(lambda x: x*2, numbers))
print(squared)

[2, 4, 6, 8]

In [70]:
# Lab

num1 = [4,5,6]
num2 = [5,6,7]

sum = list(map(lambda x,y: x+y, num1, num2))
print(sum)

[9, 11, 13]

In [ ]:
# list comprehension, lambda 중요함