<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 역 삼각형 출력하기

BASE_SIZE = 8

for r in range(BASE_SIZE,0,-1): # 8부터 0까지 -1씩 감소한다.
  for c in range(r):
    print("*",end="")
  print()

********
*******
******
*****
****
***
**
*

In [5]:
# 다른 방법

BASE_SIZE = 8
for r in range(BASE_SIZE): # 행
  for c in range(BASE_SIZE-r): # 열 (행이 1 증가할수록 열은 1 감소한다)
    print('*',end='')
  print()

********
*******
******
*****
****
***
**
*

In [8]:
# 중첩 반복문
i = 1

for i in range(i,5,1):
  print(i, "Welcome")
  a = 1
  for a in range(a,4,1):
    print(a, "Hello")
print("Done")

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [33]:
A,B,C = map(int,input().split()) # A,B,C 변수 값을 한 줄에 입력 받기
nums = [A,B,C] # nums라는 list에 값을 저장
nums.sort() # 오름 차순으로 list에 있는 값을 정렬
print(nums) # 1번째 index에 있는 값을 출력
print(nums[1])

0 100 33
[0, 33, 100]
33

In [35]:
# list는 변경이 가능함
nums = [1,2,3]
print(nums)
nums[1] = 0
print(nums)

[1, 2, 3]
[1, 0, 3]

In [37]:
# tuple은 변경이 불가함
num = (1,2,3)
print(num)

(1, 2, 3)

In [38]:
num(1) = 0
print(num)

SyntaxError: ignored

In [40]:
# 빈 리스트 생성
a = [ ]
a = list( )
print(a)

[]

In [42]:
x=[10,20,30,40] # index = 0부터 시작
print(x)
print(x[0],x[3])
print(x[1:3]) # 리스트 슬라이싱 -> index = 1부터 index = 2까지 출력

[10, 20, 30, 40]
10 40
[20, 30]

In [44]:
# list에서 사용하는 메소드 - 항목 추가
x=[20]
print(x)

x.append(30) # 해당 값을 list 끝에 추가
print(x)

x.insert(0,10) # 해당 index 번호에 값을 추가 -> index = 0에 10이라는 값을 추가
print(x)

x.extend([40,50]) # 기존의 list에 새로운 list를 붙임
print(x)

y=[1,2]
z=x+y
print(z)

[20]
[20, 30]
[10, 20, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 1, 2]

In [47]:
# list에서 사용하는 메소드 - 항목 삭제
x=[10,20,30,40]
x.remove(10) # 해당 값을 list에서 삭제
print(x)

x=[10,20,30,40] # 해당 index의 값을 list에서 삭제
x.pop(2)
print(x)

x=[10,20,30,40] # list에 있는 모든 값을 삭제
x.clear()
print(x)

[20, 30, 40]
[10, 20, 40]
[]

In [48]:
# list에서 사용하는 메소드
x=[10,20,30,10,10]
print(x.index(30)) # 해당 값의 index를 출력

print(x.count(10)) # 해당 값의 개수를 출력

2
3

In [52]:
# list를 이용한 for문과 if문
개설과목 = ['컴퓨터','파이썬','인공지능']
if '파이썬' in 개설과목: # in: 연산자
  print('파이썬 과목이 개설 되었습니다.')

for 과목 in 개설과목:
  print(과목)

파이썬 과목이 개설 되었습니다.
컴퓨터
파이썬
인공지능

In [ ]:
# 내장 함수 vs 메소드
''' 함수는 단독으로 사용 가능하지만 메소드는 객체와 함께 사용해야함 -> 객체.메소드 '''

In [53]:
a=[10,20,30]
print("최솟값:", min(a))
print("최댓값:", max(a))
print("합 계:", sum(a))

최솟값: 10
최댓값: 30
합 계: 60

In [54]:
# map(함수, list): 리스트 안에 있는 모든 항목값에 원하는 함수를 일괄 적용시켜 그 결과를 돌려준다.
a = ['10','20','30']
print(sum(a)) #에러 발생

TypeError: ignored

In [55]:
a = ['10','20','30']
a=map(int,a)
print(sum(a))

60

In [56]:
a = ['10','20','30']
a=list(map(int,a))
print(a)
print(sum(a))

[10, 20, 30]
60

In [58]:
score= [[29, 28, 27, 30],[30, 20, 27, 29],[23, 25, 29, 30]]
print(score[0]) # 1행의 모든 값을 출력
print(score[1][2]) # 2행 3열의 값을 출력

[29, 28, 27, 30]
27

In [70]:
score= [[29, 28, 27, 30],
 [30, 20, 27, 29],
  [23, 25, 29, 30]]
for r in range(3):
  for c in range(4):
    print(score[r][c], end=' ')
print()

29 28 27 30 30 20 27 29 23 25 29 30

In [71]:
score= [[29, 28, 27, 30],[30, 20, 27, 29],[23, 25, 29, 30]]
for r in range(len(score)):
  for c in range(len(score[r])):
    print(score[r][c], end=" ")
print()

29 28 27 30 30 20 27 29 23 25 29 30