<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 값을 연속적으로 입력받아 리스트에 저장한 후 계산 및 출력하는 프로그램

num_employees = 6
hours = [0] * num_employees

def main():
  for index in range(num_employees):
    print('Enter the hours worked by employee ',index + 1, ':', sep='', end='')
    hours[index] = float(input())

  pay_rate = float(input('Enter the hourly pay rate: '))

  for index in range(num_employees):
    gross_pay = hours[index] * pay_rate
    print('Gross pay for employee ',index+1,': $',format(gross_pay,'.2f'),sep='')
main()

Enter the hours worked by employee 1:10
Enter the hours worked by employee 2:20
Enter the hours worked by employee 3:15
Enter the hours worked by employee 4:40
Enter the hours worked by employee 5:20
Enter the hours worked by employee 6:18
Enter the hourly pay rate: 12.75
Gross pay for employee 1: $127.50
Gross pay for employee 2: $255.00
Gross pay for employee 3: $191.25
Gross pay for employee 4: $510.00
Gross pay for employee 5: $255.00
Gross pay for employee 6: $229.50

In [6]:
# 리스트와 반복문을 이용하여 리스트의 값에 대한 합을 구하는 프로그램
def main():
  numbers = [2,4,6,8,10]
  total = 0
  for value in numbers:
    total += value
  print('Total is',total)
main()

Total is 30

In [9]:
# 리스트와 반복문을 이용하여 리스트의 값에 대한 평균을 구하는 프로그램
def main():
  scores = [2.5, 8.3, 6.5, 4.0, 5.2]
  total = 0.0
  for value in scores:
    total += value
  average = total / len(scores)
  print('The average of the elements is', average)
main()

The average of the elements is 5.3

In [11]:
# Program 8-10
# 리스트를 함수의 인자로 활용하는 프로그램
def main():
  numbers = [2, 4, 6, 8, 10]
  print('The total is', get_total(numbers))

def get_total(a):
  total = 0
  for num in a:
    total += num
  return total

main()

The total is 30

In [14]:
# Program 8-11
# 리스트를 반환하는 함수를 정의하고 호출하는 프로그램
def main():
  numbers = get_values()
  print('list의 숫자는 다음과 같습니다:',numbers)
def get_values():
  values = []
  again = 'y'
  while again == 'y':
    num = int(input('Enter a number: '))
    values.append(num)
    again = input('Do you want to add another number? (y/n):')
    print()
  return values

main()

Enter a number: 60
Do you want to add another number? (y/n):y

Enter a number: 24
Do you want to add another number? (y/n):n

list의 숫자는 다음과 같습니다: [60, 24]

In [17]:
# Program 8-12
def main():
  scores = get_scores()
  total = get_total(scores)
  lowest = min(scores)
  total -= lowest
  average = total / (len(scores) - 1)
  print('The average, with the lowest score dropped is:',average)

def get_scores():
  test_scores = []
  again = 'y'
  while again == 'y':
    value = float(input('Enter a test score: '))
    test_scores.append(value)
    print('Do you want to add another score?')
    again = input('y = yes, anything else = no: ')
    print()

  return test_scores

def get_total(value_list):
  total = 0.0
  for num in value_list:
    total += num
  return total

main()

Enter a test score: 92
Do you want to add another score?
y = yes, anything else = no: y

Enter a test score: 67
Do you want to add another score?
y = yes, anything else = no: y

Enter a test score: 75
Do you want to add another score?
y = yes, anything else = no: y

Enter a test score: 88
Do you want to add another score?
y = yes, anything else = no: n

The average, without the lowest score dropped is: 85.0

In [19]:
# Program 8-13 문자열들이 할당된 리스트를 파일로 기록하는 프로그램
def main():
  cities = ['New York', 'Boston', 'Atlanta', 'Dallas']
  outfile = open('cities.txt', 'w')
  outfile.writelines(cities)
  outfile.close()
main()

In [22]:
# Program 8-14 문자열들이 할당된 리스트를 파일로 기록하는 프로그램
def main():

  cities = ['New York', 'Boston', 'Atlanta', 'Dallas']
  outfile = open('cities2.txt', 'w')
  for item in cities:
    outfile.writelines(item + '\n')
  outfile.close()

main()

In [28]:
# Program 8-15 파일의 내용을 리스트로 읽어들이는 프로그램
def main():
  infile = open('cities2.txt', 'r')
  cities = infile.readlines()
  infile.close()

  index = 0
  while index < len(cities):
    cities[index] = cities[index].rstrip('\n')
    index += 1

  print(cities)
main()

['New York', 'Boston', 'Atlanta', 'Dallas']

In [29]:
# Program 8-16 숫자가 할당된 리스트를 파일로 기록하는 프로그램
def main():
  numbers = [1, 2, 3, 4, 5, 6, 7]
  outfile = open('numberlist.txt', 'w')
  for item in numbers:
    outfile.write(str(item) + '\n')
  outfile.close()

main()

In [35]:
# Program 8-17 파일의 내용을 리스트로 읽어들이는 프로그램
def main():
  infile = open('numberlist.txt', 'r')
  numbers = infile.readlines()
  infile.close()

  index = 0
  while index < len(numbers):
    numbers[index] = int(numbers[index])
    index += 1

  print(numbers)
main()

[1, 2, 3, 4, 5, 6, 7]

In [42]:
# Program 8-18 2차원 리스트를 생성하고 데이터를 할당하는 프로그램
import random
ROWS = 3
COLS = 4
def main():
  values = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
  for r in range(ROWS):
    for c in range(COLS):
      values[r][c] = random.randint(1, 100)
  print(values)

main()

[[91, 46, 49, 95], [2, 80, 74, 16], [5, 29, 48, 48]]