<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 초기값이 있는 리스트 생성
a = [10,20,30,40]
print(a)

[10, 20, 30, 40]

In [2]:
# 빈 리스트 생성
a = []
print(a)

[]

In [3]:
a = [10,20,['one','two']]
print(a)

[10, 20, ['one', 'two']]

In [4]:
# 리스트 데이터 항목 사용
x = [10,20,30,40]

print(x)
print(x[0],x[3]) # index = 0, index = 3인 값을 출력
print(x[1:3]) # index = 1부터 index = 2인 값을 출력

[10, 20, 30, 40]
10 40
[20, 30]

In [7]:
x = [20]
print(x)

x.append(30) # 30이라는 값을 x 리스트 끝에 추가
print(x)

x.insert(0,10) # index = 0에 10이라는 값을 삽입
print(x)

x.extend([40,50]) # [40,50] 리스트를 x 리스트 뒤에 붙임
print(x)

[20]
[20, 30]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [10]:
x = [10,20,30,40]

x.remove(10) # 10이라는 값을 x 리스트에서 삭제
print(x)

x.pop(2) # index = 2인 값을 x 리스트에서 삭제
print(x)

x.clear() # 리스트 전체를 삭제
print(x)

[20, 30, 40]
[20, 30]
[]

In [11]:
x = [10,20,30,10,10]

print(x.index(30)) # 30이라는 값의 index 번호를 반환
print(x.count(10)) # 10이라는 값이 x 리스트에서 존재하는 개수를 반환

2
3

In [12]:
# 리스트를 이용한 if문과 for문

개설과목 = ['컴퓨터','파이썬','인공지능']

if '파이썬' in 개설과목:
  print('파이썬 과목이 개설 되었습니다.')

for 과목 in 개설과목:
  print(과목)

파이썬 과목이 개설 되었습니다.
컴퓨터
파이썬
인공지능

In [14]:
a = [10,20,30]

print("최솟값:",min(a))
print("최댓값:",max(a))
print("합계:",sum(a))
print("길이(개수):",len(a))

최솟값: 10
최댓값: 30
합계: 60
길이(개수): 3

In [15]:
a = ['10','20','30']
print(sum(a)) # 에러 발생

TypeError: ignored

In [16]:
a = ['10','20','30']

a = map(int,a) # 리스트 a에 들어있는 모든 값을 정수로 바꿈
print(sum(a))

60

In [17]:
a = ['10','20','30']
a = list(map(int,a))
print(a)
print(sum(a))

[10, 20, 30]
60

In [18]:
# 2차원 리스트
score = [[29,28,27,30],[30,20,27,29],[23,25,29,30]]

print(score[0])
print(score[1][2])

[29, 28, 27, 30]
27

In [19]:
score = [[29,28,27,30],[30,20,27,29],[23,25,29,30]]
for sc in score:
  print(sc)

[29, 28, 27, 30]
[30, 20, 27, 29]
[23, 25, 29, 30]

In [25]:
score = [[29,28,27,30],[30,20,27,29],[23,25,29,30]]
for r in range(3):
  for c in range(4):
    print(score[r][c],end=" ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [27]:
# 튜플
days_of_week = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
print(days_of_week)
print(days_of_week[0])
# days_of_week[0]='월요일'# 에러: 튜플은 데이터를 변경할 수 없음

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
Monday