<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%AC%ED%99%94_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# split 메소드
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split('\n')
print(lines)

for line in lines:
  fields = line.split(',')
  print('Name:',fields[0],'Age:',fields[1],'Occupation:',fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [ ]:
# join 메소드
words = ['Hello','world','this','is','a','test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [ ]:
# LAB1. split the string
input = 'Geeks for Geeks'
output = input.split(' ')
print(output)

['Geeks', 'for', 'Geeks']

In [ ]:
# LAB2. join the list of strings
input = ['Geeks','for','Geeks']
output = '-'.join(input)
print(output)

Geeks-for-Geeks

In [ ]:
# list comprehension
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# Lab1. list comprehension
numbers = [1,2,3,4,5]
print("Input:",numbers)
squares = [number**2 for number in numbers]
print("Output:",squares)

Input: [1, 2, 3, 4, 5]
Output: [1, 4, 9, 16, 25]

In [ ]:
# Lab2. list comprehension
cities = ['Seoul','New York','London','Shanghai','Paris','Tokyo']
print("Input:",cities)

new_cities = [cities[i] for i in range(len(cities)) if i==0 or i==3]
print("Output:",new_cities)

Input: ['Seoul', 'New York', 'London', 'Shanghai', 'Paris', 'Tokyo']
Output: ['Seoul', 'Shanghai']

In [1]:
# enumerate & zip

# enumerate: 순회 가능한 객체를 인덱스와 함께 반환
fruits = ['apple','banana','cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [6]:
# Lab1
alphabets = ['a','b','c']
print("Input:",alphabets)
print("Output:")
for index, alphabet in enumerate(alphabets):
  print(f"fruit{index} name is {alphabet}")

Input: ['a', 'b', 'c']
Output:
fruit0 name is a
fruit1 name is b
fruit2 name is c

In [7]:
# Lab2
alphabets = ['a','b','c']
print("Output:")
for i in range(len(alphabets)):
  print(f"fruit{i} name is {alphabets[i]} ")

Output:
fruit0 name is a
fruit1 name is b
fruit2 name is c

In [8]:
# zip
names = ['John','Jane','Doe']
ages = [25,30,35]

for name, age in zip(names,ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [16]:
# Lab1
name = ['M','N','S','A']
roll_no = [4,1,3,2]

set_result = set(zip(name, roll_no))
print(f"Output: {set_result}")

Output: {('N', 1), ('M', 4), ('S', 3), ('A', 2)}

In [18]:
# Lab2
names = ['M','R','C']
ages = [24,50,18]
print("Output:")
for index, (name, age) in enumerate(zip(names,ages)):
  print(f"{index} {name} {age}")

Output:
0 M 24
1 R 50
2 C 18

In [19]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [24]:
# Lab
data_list = ['but','i','wont','hesitate','no','more','no','more','it','cannot','wait','im','yours']
sorted_words = sorted(data_list, key=lambda x: (len(x), x))

print(sorted_words)

['i', 'im', 'it', 'no', 'no', 'but', 'more', 'more', 'wait', 'wont', 'yours', 'cannot', 'hesitate']

In [25]:
# map: 함수와 순회 가능한 객체를 받아 객체의 각 항목에 함수를 적용한 결과를 반환
numbers = [1,2,3,4]
squares = list(map(lambda x: x*2, numbers))
print(squares)

[2, 4, 6, 8]

In [32]:
# Lab
num1 = [4,5,6]
num2 = [5,6,7]
sum_result = list(map(lambda x,y: x+y,num1, num2))
print("Output:")
print(sum_result)

Output:
[9, 11, 13]