<a href="https://colab.research.google.com/github/LeeYunbin0508/AI-python-/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%AC%ED%99%94_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# split 메소드
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split('\n')
print(lines)

for line in lines:
  fields = line.split(',')
  print('Name:',fields[0],'Age:',fields[1],'Occupation:',fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [7]:
# join 메소드
words = ['Hello','world','this','is','a','test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [9]:
# LAB1. split the string
input = 'Geeks for Geeks'
output = input.split(' ')
print(output)

['Geeks', 'for', 'Geeks']

In [10]:
# LAB2. join the list of strings
input = ['Geeks','for','Geeks']
output = '-'.join(input)
print(output)

Geeks-for-Geeks

In [11]:
# list comprehension
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [13]:
# Lab1. list comprehension
numbers = [1,2,3,4,5]
print("Input:",numbers)
squares = [number**2 for number in numbers]
print("Output:",squares)

Input: [1, 2, 3, 4, 5]
Output: [1, 4, 9, 16, 25]

In [16]:
# Lab2. list comprehension
cities = ['Seoul','New York','London','Shanghai','Paris','Tokyo']
print("Input:",cities)

new_cities = [cities[i] for i in range(len(cities)) if i==0 or i==3]
print("Output:",new_cities)

Input: ['Seoul', 'New York', 'London', 'Shanghai', 'Paris', 'Tokyo']
Output: ['Seoul', 'Shanghai']